# Resource locations to be added to the default path
[General]
FileSystem=../../../../Samples/Media/fonts
FileSystem=../../../../Samples/Media/materials/programs
FileSystem=../../../../Samples/Media/materials/scripts
FileSystem=../../../../Samples/Media/materials/textures
FileSystem=../../../../Samples/Media/models
FileSystem=../../../../Samples/Media/overlays
FileSystem=../../../../Samples/Media/particle

Zip=../../../../Samples/Media/packs/cubemap.zip
Zip=../../../../Samples/Media/packs/cubemapsJS.zip
Zip=../../../../Samples/Media/packs/dragon.zip
Zip=../../../../Samples/Media/packs/fresneldemo.zip
Zip=../../../../Samples/Media/packs/OgreCore.zip
Zip=../../../../Samples/Media/packs/ogretestmap.zip
Zip=../../../../Samples/Media/packs/skybox.zip

[PLSM2]
FileSystem=../../../../Samples/Media/paginglandscape2
FileSystem=../../../../Samples/Media/paginglandscape2/datasrcs
FileSystem=../../../../Samples/Media/paginglandscape2/terrains
FileSystem=../../../../Samples/Media/paginglandscape2/terrains/alpes
FileSystem=../../../../Samples/Media/paginglandscape2/terrains/hf129_3
FileSystem=../../../../Samples/Media/paginglandscape2/terrains/TsmTerrain
FileSystem=../../../../Samples/Media/paginglandscape2/terrains/ps_height_1k
FileSystem=../../../../Samples/Media/paginglandscape2/terrains/terragen16bits
#FileSystem=../../../../Samples/Media/paginglandscape2/terrains/ps_height_1k_256
FileSystem=../../../../Samples/Media/paginglandscape2/terrains/gcanyon_height_4k2k

