# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=../../Media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=../../Media
FileSystem=../../Media/fonts
FileSystem=../../Media/materials/programs
FileSystem=../../Media/materials/scripts
FileSystem=../../Media/materials/textures
FileSystem=../../Media/models
FileSystem=../../Media/overlays
FileSystem=../../Media/particle
FileSystem=../../Media/gui
Zip=../../Media/packs/cubemap.zip
Zip=../../Media/packs/cubemapsJS.zip
Zip=../../Media/packs/dragon.zip
Zip=../../Media/packs/fresneldemo.zip
Zip=../../Media/packs/ogretestmap.zip
Zip=../../Media/packs/skybox.zip

[PLSM2]
FileSystem=../../Media/paginglandscape2

FileSystem=../../Media/paginglandscape2/fonts
FileSystem=../../Media/paginglandscape2/models
FileSystem=../../Media/paginglandscape2/overlays
FileSystem=../../Media/paginglandscape2/materials
FileSystem=../../Media/paginglandscape2/materials/scripts
FileSystem=../../Media/paginglandscape2/materials/textures
FileSystem=../../Media/paginglandscape2/materials/programs

FileSystem=../../Media/paginglandscape2/datasrcs
FileSystem=../../Media/paginglandscape2/terrains
FileSystem=../../Media/paginglandscape2/terrains/alpes
FileSystem=../../Media/paginglandscape2/terrains/hf129_3
FileSystem=../../Media/paginglandscape2/terrains/TsmTerrain
FileSystem=../../Media/paginglandscape2/terrains/ps_height_1k
FileSystem=../../Media/paginglandscape2/terrains/terragen16bits
FileSystem=../../Media/paginglandscape2/terrains/gcanyon_height_4k2k
